/*header{
    margin-left: 30px;
    margin-right: 30px;
    background-image: url(/img/uni-of-sevilla.jpg);
    background-position: center;
    background-size: cover; */
    
 
.table{
    background-color: #fff;
}


html{
color: #555;
font-family: 'Lato' , 'Arial' , sans-serif;
font-weight: 300 ;
font-size: 20px;
text-rendering: optimizeLegibility;
}

.bigheader{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/spainguide.jpg);
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}


p{
    color:#fff;
}



.formulario{
    margin-left: 30px;
    margin-right: 30px;
}

.logo{
    width:auto;
    height: 200px;
}

.boton{
    float: right;
    background-color: #e67e22;
    
}

#modalwidth{
    width: 50% ;
}
.width1{
    width: 50% !important ;
    
}

h1, h2, h3{
font-weight:300;
letter-spacing:1px;
text-transform:uppercase;
 

    
}

.header{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    padding-left: 30px;
    padding-top: 20px;
    font-family: 'Lato' , 'Arial' , sans-serif;
}


.modal-header{
    background-color: #2E86C1;
}

.modaledit1{
     background-color:#666;
}

.modalheader{
    color:#fff;
}

.pcards{
    color: #666;
}

.divcards{
    width:50%;
    margin-right: 20%;
    margin-left: 20%;
}

.container{
    margin-top: 0px;
    padding-top: 0px;
}

.ng-invalid.ng-dirty{
    border: 1px solid red;
}

.btn{
    margin-right: 3px;
    float:left;
    
}
.addbutton{
    float:right;
}

.btngroup{
    float:right;
}