<html ng-app="ContactListApp">
    <head>
        <title>
            Contact List
        </title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="contact-list-app.js"></script>
        <script type="text/javascript" src="list-ctrl.js"></script>
    </head>
    <body ng-controller="ListCtrl">
        <h1>Contacts</h1> 
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tr>
                <td><input class="form-control" ng-model="newContact.name"></td>
                <td><input class="form-control" ng-model="newContact.phone"></td>
                <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button> </td>
            </tr>

            <tr ng-repeat="contact in contacts">
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
            </tr>
        </table>
        <h5><a href="https://documenter.getpostman.com/view/359472/aws1718/RVnTmM8k">api documentation</a></h5>
    </body>
</html>